@import 'variables.css';

* {
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
}

body {
    height: 100vh;
    padding:0;
    margin:0;

    display:grid;
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-columns: 100vw;
    
}

header {
    
    grid-column:1; 
    grid-row:1;
    display:grid;
    grid-template-columns: 165px auto auto auto 165px;
    align-items: center;
    justify-content: center;
}

.image-logo {
    grid-column: 2;
    position: absolute;
    left:50px;
    align-self: center;
}

.image-logo img {
    height:5vh;
    width:auto;
    margin:1em;
}

#header-nav {
    justify-self: start;
    align-self:center;
    grid-column: 4;
    left: 0;
}

#header-nav ul { 
    justify-self: start;
    display:grid;
    grid-template-columns: 1fr auto 1fr auto;
}

#header-nav ul li {
    padding-left: 12.5px;
    padding-right:12.5px;
    padding-top:13px;
    padding-bottom:13px;

}

#header-nav li a {
    font-family: var(--body-fonts);
    font-size:0.815rem;
    font-weight: bold;
    color: var(--neutral-dark-grayish);
}

ul li .how-we-work {
    padding-left:0;
}

#account {
    padding-right: 33px;
}

#account:hover {
    cursor:pointer;  
}

#header-nav ul li:nth-of-type(3):active a{
    color: var(--neutral-dark-violet);
}

#view-plans {
    border: 1px solid var(--neutral-dark-violet);
    color: var(--neutral-dark-violet);
    padding: 13px 28px; 
}

#view-plans:hover {
    cursor:pointer;
}

#view-plans:active {
    background-color: var(--neutral-dark-violet);
    
}

#header-nav ul li:nth-of-type(4):active a{
    color: var(--white-focus-btn);
}

.hamburger-containment {
    display:none;
}

main {
    
    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-rows: 600px 783px 554px;
}

/* MAIN */

#map-container {
    width:100%;
    height: auto;
}

#map { 
    height:40vh;
    width:auto;
    margin:5rem;
}


/* FOOTER */

footer {
    grid-row: 3;
    grid-column: 1;
    display:grid;
    grid-template-columns: 5vw auto  5vw;
}

#footer-nav-1 {
    grid-column:2;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#social-icon {
    align-self:flex-start;
    margin-top:0.5em;
}

#footer-nav-2 {
    grid-column:2;
    display:flex;
    justify-content: space-between;
}

#footer-nav-2 div {
    width:255px;
    display:flex;
    flex-direction: column;
    justify-content: start;
}

#footer-nav-2 div h4 {
    line-height: 15px;
    font-weight: 700;
    font-size:13px;
    text-transform: uppercase;
    color: var(--neutral-dark-grayish);
    font-family: var(--body-fonts);
}

#footer-nav-2 div ul {
    padding:0;
}

#footer-nav-2 div ul li a {
    color: var(--primary-dark-violet);
    font-family: var(--body-fonts);
    text-transform: uppercase;
    text-decoration: none;
}





@media screen and (max-width:375px){

     body {
        width:375px;
        height: auto;
        padding:0;
        margin:0;
       
        display:grid;
        grid-template-rows: 80px 2758px 1025px;
        grid-template-columns: 375px;
    }

    /* HEADER MOBILE 375px */

    header {
        grid-row:1;
        grid-column:1;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    #header-nav ul {
        display:none;
    }

    .image-logo {
    position: absolute;
    left:24px;
    align-self: center;
    }

    .hamburger-containment {
    position:absolute;
    right:24px;
    height: 32px;
    width:32px;    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--neutral-dark-violet);
    }

    .hamburger-line {
        height:5%;
        width:50%;
        margin:0.1em;
        background-color: var(--neutral-dark-violet);
    }

    /* MAIN MOBILE 375px max */

    main {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 951px 1311px 496px;
    }

    /* FOOTER MOBILE 375px max */


    footer {
            grid-row: 3;
            grid-column: 1;
            display:flex;
            flex-direction: column;
        }

        #footer-nav-1 {
            
            display:grid;
            grid-template-rows: 1fr 32px 1fr;
            grid-template-columns: 375px;
            align-items: center;
            justify-items: center;
        }

        #footer-nav-1 .image-logo {
            position:unset;
            height:18px;
            grid-row:1;
            grid-column: 1;
         
        }

        #social-icon {
            grid-row:3;
        }

        #footer-nav-2 {
            grid-column:2;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        #footer-nav-2 div {
            width:255px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            text-align:center;
        }

        #footer-nav-2 div h4 {
            line-height: 15px;
            font-weight: 700;
            font-size:13px;
            text-transform: uppercase;
            color: var(--neutral-dark-grayish);
            font-family: var(--body-fonts);
        }

        #footer-nav-2 div ul {
            padding:0;
        }

        #footer-nav-2 div ul li a {
            color: var(--primary-dark-violet);
            font-family: var(--body-fonts);
            text-transform: uppercase;
            text-decoration: none;
        }

        .attribution {
           
            color: var(--primary-greyish-blue);
            text-align:center;
            flex-direction: column;
        }

        .attribution p {
            margin:0.1em;
        }

       

}